@import "base/font";
@import "button/button";
@import "slider/slider";
@import "Layout/footer";

body
    padding 0
    margin 0

a
    color #85c998

#tabs
    padding 0
    margin 0

section
    width 100%
    height 100vh
    padding-top 0
    padding-bottom 0
    overflow-x hidden

.scroll
    overflow auto

.wrapGrate
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center

.textGrete
    color white
    font-size 60pt
    font-family 'Nunito light'
    text-align center

.textGreteSecond
    color white
    font-size 20pt
    font-family 'Yantramanav-Light'
    text-align center

img
    margin-left 20px
    margin-top 20px
.bg_1
    background url('/img/bg_1.png')no-repeat center top /cover

.flex
    height 100%
    display flex

.wrapText
    width 30%
    height auto
    padding 10%
    color black
    font-size 11px
    font-family "Nunito light"
    text-align center

.wrapTextH1Left
    text-align left

.wrapTextH1Right
    text-align right

.wrapImgPage_2
    width 50%
    height auto
    background url('/img/bg_2.png')no-repeat center top /cover 

.wrapImgPage_3
    width 50%
    height auto
    background url('/img/bg_3.png')no-repeat center top /cover 

.wrapImgPage_4
    width 50%
    height auto
    background url('/img/bg_4.png')no-repeat center top /cover 


// next page
.bg_2
    background #e1e0e1 url('/img/bg_6_v-1.png')no-repeat center
    background-size contain

// next page
.box
    display flex
    flex-wrap wrap

.boxText
    height 140px
    width 140px
    margin 25px

.h1Box
    text-align center
    font-family 'Nunito light'
.pBoxMain
    text-align center
    font-family 'Yantramanav-Regular'
    color #8d8d8d

.pBox
    color #8d8d8d
    line-height 5px
    font-family 'Yantramanav-Thin'

.bold
    font-weight bold
    color black

.green
    color #85c998

.wrapEmailMobile
    display flex
    justify-content space-around
