<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css")
        link(href="css/main.css" type="text/css" rel="stylesheet")
    body(onload="draw();")
    main#tabs
        section.tabContent.bg_1
            img(src="/img/logo.png", alt="")
            div.wrapGrate
                p.textGrete Coming Soon
                p.textGreteSecond goplae.co.uk is coming soon but in the meantime check out this page 
                    br
                    | and sign up to our newsletter for more information 

                div.wrapSend
                    input#input(type="text" placeholder='Enter email address')
                    button#button Sign Up
        section.tabContent
            div.flex
                div.wrapText
                    h1 About Plae
                    p Previously a Designer for Puma and Adidas, Head 
                        | Designer Ryan Ringholz has started a new revolution in
                        | kids trainers. Using technology usually reserved for elite
                        | athletes, Plae creates shoes designed especially for a
                        | child’s foot. 
                
                    p Because kids feet are always growing, their shoes
                        | should accommodate leaving the cartilage and fledgling
                        | bone room to grow its own way. The interchangeable
                        | tabs adjust to accommodate thinner, wider or thicker
                        | feet and nearly all Plae shoes can fit an AFO orthotic
                        | brace. 
                        
                    p With their dynamic traction, little feet can feel the ground
                        | beneath them and get a grip on it. The rest is designed
                        | to elite athlete standards: super shock absorption,
                        | durable toe guards, and wicking, washable anti-microbial
                        | inserts.
                
                    p With every shoe, Plae sources responsible, recycled, and
                        | non-toxic materials, and makes sure manufacturing and labour is fair and child-free.
                div.wrapImgPage_2

        section.tabContent
            div.flex
                div.wrapImgPage_3
                div.wrapText
                    h1.wrapTextH1Left "
                    p I like them because they are very
                        | comfy and soft inside. They are
                        | really light which means I run faster.
                        | I like the cool straps that I can
                        | change
                    h1.wrapTextH1Right "
                    p Charlie (age 8)
                
        section.tabContent
            div.flex
                div.wrapText
                    h1.wrapTextH1Left "
                    p I like that I can do PE in them
                        | because they're so comfy and 
                        | then after school in the park, the
                        | bottoms are grippy so I can 
                        | climb really well
                    h1.wrapTextH1Right "
                    p Edie (age 6)
                div.wrapImgPage_4

        section.tabContent
            h1.sliderText The Range
            p.sliderText View the styles available now from select stockists
            div.sliderFlex
                button#btnPrev
                    i.fa.fa-chevron-left(aria-hidden="true")
                div.sliderOnlyWrapper
                    div.sliderView
                        img.imgSlider(src="/img/slider/1.jpg")
                        img.imgSlider(src="/img/slider/2.jpg")
                        img.imgSlider(src="/img/slider/3.jpg")
                        img.imgSlider(src="/img/slider/4.jpg")
                        img.imgSlider(src="/img/slider/5.jpg")
                        img.imgSlider(src="/img/slider/6.jpg")
                        img.imgSlider(src="/img/slider/7.jpg")
                    h1.sliderText TY
                    div.sliderNav
                        ul.ulImgSliderMin
                            li.imgSliderMin 1/7
                            li.imgSliderMin 2/7
                            li.imgSliderMin 3/7
                            li.imgSliderMin 4/7
                            li.imgSliderMin 5/7
                            li.imgSliderMin 6/7
                            li.imgSliderMin 7/7

                button#btnNext
                    i.fa.fa-chevron-right(aria-hidden="true")

        section.tabContent.bg_2
            h1.h1Box Why Plae? 
            p.pBoxMain Some of the features that make Plae shoes so good for kids

        section.tabContent.scroll
            h1.h1Box Where can you find us?
            p.pBoxMain See below our UK stockist list
            div.box
                div.boxText
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk
                    
                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

                div.boxText 
                    p.pBox.bold Best Foot Forward
                    p.pBox 76 Liverpool Road
                    p.pBox Preston
                    p.pBox PR1 0QD
                    p.pBox 0208 969 7565
                    p.pBox.green bestfootforward.co.uk

        section.tabContent
            h3.h1Box Like to stock Plae?
            p.pBoxMain Call or email us to send an enquiry
            div.wrapEmailMobile
                a(href="http://hello@goplae.co.uk") hello@goplae.co.uk
                p.pBox 07947 301292
            footer
                h3.h1Box Be the first to see goplae.co.uk
                p.pBoxMain Sign Up for the latest news
                div.wrapSend
                    input#input(type="text" placeholder='Enter email address')
                    button#button Sign Up
            div.endFotter Copyright © 2015 Craftymothers ltd. All Rights Reserved


        script(src="js/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js")
        script(src="js/scrol.js")