/*slider*/
.sliderFlex
    display flex
    flex-direction row
    justify-content space-around
    align-items center

.sliderOnlyWrapper
    width 50%

.sliderNav
    height 100px
    margin 0 auto

.imgSlider
    display none
    margin 0 auto
    max-width 100%
    height auto

.imgSlider:first-child
    display block

.imgSliderMin
    height 40px
    width 55px
    margin 5px auto
    display none
    text-align center
    line-height 100px

.imgSliderMin:first-child
    display block

.ulImgSliderMin
    list-style-type none
    margin auto
    padding 0

#btnPrev
    height 50px
    width 50px
    background none
    border-radius 25px
    border 1px solid grey
    color grey
    cursor pointer

#btnNext
    height 50px
    width 50px
    background none
    border-radius 25px
    border 1px solid grey
    color grey
    cursor pointer

.sliderText
    text-align center
    font-family Nunito light
