@font-face
	font-family 'Nunito light'
	font-family 'Nunito-Regular'
	font-family 'Yantramanav-Regular'
	font-family 'Yantramanav-Thin'
	font-family 'Yantramanav-Light'
	src: url('/fonts/Nunito-Light.ttf')
	src: url('/fonts/Yantramanav-Regular.ttf')
	src: url('/fonts/Yantramanav-Thin.ttf')
	src: url('/fonts/Yantramanav-Light.ttf')
	src: url('/fonts/Nunito-Regular.ttf')
